html,body {
  margin: 0;
  padding:0;
}

body {
  background: url("https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80") no-repeat center center fixed;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 1s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar { 
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height:60px;
  background: black;
  border-bottom: 1px solid white;
}

#navbar h1 {
  margin-left: 20px;
}

.fa-search {
  transform: scale(1.25);
  margin-right: 20px;
}

input[type="text"] {
  border-radius: 10px;
  min-height: 20px;
  min-width: 200px;
  text-indent: 5px;
  outline: none;
}


#inputDiv {
  min-width: 300px;
  min-height: 40px;
  text-align: center;
  position: fixed;
  border-radius: 10px;
  color: white;
  background: rgba(0, 0, 0, .85);
  padding: 20px;
  width: 25%;
  border: 1px solid white;
  transition: opacity 1s ease;
  pointer-events: all;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#radioButtons {
  margin-bottom: 10px;
}

.found{
  background: url("https://www.publicdomainpictures.net/pictures/30000/velka/plain-white-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.flex {
  display: flex;
  align-items: center;
}

.notFound {
  font-size:18px;
  margin-left:30px;
  width: 25%;
  margin: 0 auto;
  margin-bottom:15px;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgba(255, 255, 0, .85);
  transition: transform .1s ease;
  min-height: 60px;
  
}

.notFound p {
  margin: 0 auto;
}

.container {
  padding-top: 75px;
}

.map {
  margin: 0 auto;
  margin-left: 25%;
  border: 1px solid white;
  border-radius: 10px;
  transition: transform .1s ease;
}

.map:hover{
  transform:scale(1.25);
}

.brewery{
  display: grid;
  font-size:18px;
  margin-left:30px;
  width: 20%;
  text-align: center;
  margin-bottom:15px;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgba(144, 202, 249, .85);
  transition: transform .1s ease;
  min-height: 200px;
  max-height: 200px;
}

.brewery:hover{
  transform: scale(1.05);
}

p{
  word-break: break-all;
}

#location:hover span, #location:hover i {
  color: white;
  cursor: pointer;
}


.fadeOut {
  opacity: 0;
  pointer-events: none;
}


